/data/jersey-2023/*
/testing/*
/mnist/*
/yolo-bb/*

# exceptions
!/data/jersey-2023/.gitkeep
!/mnist/data
!/mnist/data_padding
!/mnist/train_mnist_padding.ipynb
!/mnist/environment.yml
!/mnist/main.py
!/yolo-bb/datasets/.gitkeep
!/yolo-bb/train_yolo_obb.py
!/yolo-bb/data.yaml